<ol class="" itemscope itemtype="http://schema.org/BreadcrumbList">
  {% for item in breadcrumbs %}
    <li class="c-breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a
        itemscope
        itemtype="http://schema.org/Thing"
        itemprop="item"
        aria-current="{{loop.last ? 'location' : 'false'}}"
        href="{{item.link}}">
        <span itemprop="name">{{ item.title }}</span>
      </a>
      <meta itemprop="position" content="{{loop.index}}">
    </li>
  {% endfor %}
</ol>