{% if breadcrumbs %}
  <nav class="breadcrumbs" aria-label="パンくずリスト">
    <ol class="breadcrumbs__list" itemscope itemtype="http://schema.org/BreadcrumbList">
      {% for breadcrumb in breadcrumbs %}
        <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a
            itemscope
            itemtype="http://schema.org/Thing"
            itemprop="item"
            href="{{ breadcrumb.link }}"
            class="breadcrumbs__link">
            <span itemprop="name" class="breadcrumbs__title">{{ breadcrumb.title }}</span>
          </a>
          <meta itemprop="position" content="{{ loop.index }}">
        </li>
      {% endfor %}
    </ol>
  </nav>
{% endif %}
